.redWords{
    font-size: 14px;
    color: rgb(255, 64, 64);
    padding-top: 10px;
}

.form-card{
    width: 300px;
    height: auto;
    padding: 2em;
    border-radius: 10px;
    color: rgb(105, 105, 105);
    background-color: rgb(255, 242, 242);
    margin: 5em 5em;
    position: absolute;
}
.myBtn{
    border: 1px solid #eee;
    background-color: rgb(255, 167, 167);
    width: auto;
    padding: 0 10px;
    height: 3em;
    border-radius: 5px;
    color: rgb(105, 105, 105);
}
.registered{
    color: #ffa7a7;
    float: right;
    padding: 11px;
    text-align: center;
}
.h3{
    font-size: 28px;
    color: rgb(105, 105, 105);
}
.form{
    width: 100%;
    height: 20px;
    padding: 10px 10px 10px 0;
}
.input{
    float: right;
    font-size: 13px;
    width: auto;
    height: 2em;
    border: 0;
    border-radius: 5px;
}
.input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
